{% extends 'store/base.html' %} {% block title %} Password Changed {%endblock %}
{%block content %}
<div class="container p-5">
  <div class="row justify-content-center">
    <div class="col-5 lh-lg text-center">
      ////problematic {% if validlink %}  
      <p>
        Please enter your new password twice so we can verify you typed it in
        correctly.
      </p>

      <form method="post">
        {% csrf_token %} {{form}}
        <input
          type="submit"
          class="btn btn-outline-success shadow-sm"
          value="Change my password"
        />
      </form>

      {% else %}
      <p>
        The password reset link was invalid, possibly because it has already
        been used. Please request a new password reset.
      </p>

      {% endif %}
    </div>
  </div>
  {% endblock %}
</div>
